{% extends 'base.html' %} {% block content %} {% block title %}
<title>About the Card Collector</title>
{% endblock %}
<h1>This is the about page</h1>
{% comment %} Come up with dummy copy for card collectors {% endcomment %}
<p>You can save information about your cards here.</p>
<p>It's a great way to keep track of your collection.</p>
<p>It's also a great way to keep track of your favorite vendors.</p>
<h2>How to use the Card Collector</h2>
<p>It's easy to use the Card Collector.</p>
<p>Just sign up for an account.</p>
<p>Then you can add cards to your collection.</p>
<p>And you can add vendors to your list of favorite vendors.</p>

{% endblock %}
