body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f5f5f5;
}
main {
  flex-grow: 1;
}

header a:first-child {
  margin-left: 30px;
}

nav ul li a {
  font-size: 25px !important;
}

footer p {
  margin-left: 30px;
}

.card-content span {
  color: black;
  font-size: 30px !important;
  text-decoration: underline;
}

.card-content p {
  color: black;
  font-size: 30px !important;
}
