body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #663399;
}

main {
  flex-grow: 1;
}

h1 {
  color: #fff;
}

p {
  color: #fff;
}

.card-content p {
  color: #000;
}
.card-title {
  text-decoration: underline;
}

label {
  color: white !important;
  font-size: 30px;
}

input {
  border: 1px solid #fff !important;
  color: white;
}

textarea {
  border: 1px solid #fff !important;
  color: white;
}

.card-action a {
  color: black !important;
  text-decoration: underline;
}
