body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fcf6f5ff;
}

main {
  flex-grow: 1;
}

h1,
h2 {
  color: black;
}

.nav-wrapper {
  background-color: #990011ff !important;
}

footer {
  background-color: #990011ff !important;
}

p {
  color: black;
  font-size: 18pt;
}

.card-content p {
  color: #000;
}
.card-title {
  text-decoration: underline;
}

label {
  color: black !important;
  font-size: 30px;
}

input {
  border: 1px solid black !important;
  color: black;
}

textarea {
  border: 1px solid #fff !important;
  color: black;
}

.card-action a {
  color: black !important;
  text-decoration: underline;
}

td {
  color: black;
}
