{% extends 'base.html' %} {% block content %} {% block title %}
<title>Card Details</title>
{% endblock %}
<h1>Card Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title"> {{ card.name }} </span>
    <p>{{ card.game }}</p>
    <p>{{ card.condition }}</p>
    <p>${{ card.value }}</p>
  </div>
  <div class="card-action">
    <a href="{% url 'card_update' card.id %}">Update</a>
    <a href="{% url 'card_delete' card.id %}">Delete</a>
  </div>
</div>
{% endblock %}
