{% extends 'base.html' %} {% block title %}
<title>Card List</title>
{% endblock %} {% block content %}
<h1>Card List</h1>
<div class="row">
  {% for card_item in cards %}
  <div class="col s12 m6 l4">
    <a href="{% url 'cards_detail' card_item.id %}">
      <div class="card">
        <div class="card-image">
          <img src="https://product-images.tcgplayer.com/263114.jpg" />
        </div>
        <div class="card-content">
          <span class="card-title">{{ card_item.name }}</span>
          <p>{{ card_item.game }}</p>
          <p>{{ card_item.condition }}</p>
          <p>${{ card_item.value }}</p>
        </div>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %}
